@model Department
<h1 class="alert alert-danger text-center">Are you sure to delete @Model.Description ?</h1>

<d1 class="row">
	<dt class="col-2">@Html.DisplayNameFor(e=>e.Id)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.Id)</dd>
	@*<dd class="col-10">@Model.Id</dd>*@

	<dt class="col-2">@Html.DisplayNameFor(e=>e.Name)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.Name)</dd>
	@*<dd class="col-10">@Model.Name</dd>*@

	<dt class="col-2">@Html.DisplayNameFor(e=>e.Description)</dt>
	<dd class="col-10">@Html.DisplayFor(e=>e.Description)</dd>
	@*<dd class="col-10">@Model.Description</dd>*@


</d1>

<form method="post" asp-controller="Departments" asp-action="DeleteCurrent">
	<input type="hidden" asp-for="Id" />
	<button type="submit" class="btn btn-danger">Delete</button>
</form>
<a asp-controller="Departments" asp-action="GetIndexview">
	Back to List
</a>